* {
  box-sizing: border-box;
}

body {
  background-color: #A9A9A9;
  font-family: sans-serif;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  background-color: #296088;
  color: #FDF0F5;
  width: 80px;
  height: 40px;
  border-radius: 5%;
  border: none;
}

time {
  background: #EB515C;
  color: #FDF0F5;
  padding: 10px;

}

/* Boxes  */
.timeline-content {
  background-color: #F5F5F5;
  height: 250px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 600px;
  padding-left: 30px;
  padding-top: 20px;

}

.timeline-event:nth-child(even) .timeline-content{
  float: right;

}

.timeline-event:nth-child(odd) {
  clear: both;
}

.timeline-event:nth-child(odd) .timeline-content::before{
  content: '';
  height: 0;
  width: 0;
  left: 650px;
  position: absolute;
  border: medium solid #F5F5F5;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #F5F5F5;

}

.timeline-event:nth-child(even) .timeline-content::before{
  content: '';
  height: 0;
  width: 0;
  right: 650px;
  position: absolute;
  border: medium solid #F5F5F5;
  border-width: 10px 10px 10px 0;
  border-color: transparent #F5F5F5 transparent transparent;

}

/* Timeline */
.timeline {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.timeline::before {
  content: '';
  background-color: #275B85;
  width: 5px;
  height: 105%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.timeline-icon {
  background-color: #275B85;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50;
}

.fas {
  color: white;
  padding-top: 15px;
}

.first-timebox {
  position: absolute;
  top: 0;
  right: 54.5%;
}
.second-timebox {
  position: absolute;
  top: 330px;
  right: 535px;

}

.third-timebox {
  position: absolute;
  bottom: 212px;
  right: 54.5%;
}

@media (max-width: 790px) {
  .timeline-event:nth-child(even) .timeline-content{
    float: left;
  }

  .timeline-content {
    height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 355px;
    padding-left: 30px;
    padding-top: 20px;

  }

}
