 body {
  box-sizing: border-box;
  background-color: #A9A9A9;

  font-family: sans-serif;
}

.content{
  height: 250px;
  width: 515px;
  background-color: #F6F5F5;
  position: relative;
  border-radius: 1%;
  padding-left: 20px;
  margin: 0;
  color: black;
  bottom: 0;
}

h1 {
  padding-top: 20px;
  position: absolute;
}

.content > p {
  padding-top: 100px;
  text-align: left;
}

.date {
  background: #EB515C;
  color: #FDF0F5;
  width: 115px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;

}

button {
  background-color: #296088;
  color: #FDF0F5;
  width: 80px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* li div {
  background: #EB515C;
  color: #FDF0F5;
  position: relative;
  top: 0;
  right: 0;
  width: 115px;
  height: 50px;
  text-align: center;
  margin: auto;
} */

.timeline li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #285E8A;
  padding: 50px 0;
}

.timeline li::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 50;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: inherit;
  border-radius: 50%;
}

.timeline li:nth-child(even) div {
  left: 45px;

}

.timeline li:nth-child(odd) div {
  left: -575px;
}
